@{Html.RenderPartial("_navbar"); }
@using HairSalon.Models
<h1>@Model.GetName()!</h1>
<h2>Current Stylist: @Stylist.Find(Model.GetStylist()).GetName()</h2>
<h6> Hair: @Model.GetHair()</h6>
<form class="" action="/Client/@Model.GetId()/Cut" method="post">
<button type="submit">Cut that hair!</button>
</form>
<form class="" action="/Client/@Model.GetId()/" method="post">
  <button type="submit">Change Stylist</button>
  <select name="stylist">
    @foreach(var stylist in Stylist.GetAll())
    {
      <option value="@stylist.GetId()">@stylist.GetName()</option>
    }
  </select>
  <br>

</form>
