@{Html.RenderPartial("_navbar"); }
@using HairSalon.Models;

<h2>@Model.GetName() - @Model.GetDescription()</h2>
<h4>Level: @Model.GetLevel()</h4>
<h4>@Model.GetScissorsName() : @Model.GetScissors() </h4>
<h6>Hair Collected: @Model.GetHair()</h6>
<h6>Hair Needed to next level:@Model.GetNextLevel()</h6>
<h1>List of @Model.GetName()'s Clients:</h1>
<ul>
  @foreach(var client in @Client.GetClients(@Model.GetId()))
  {
    <a href="/Client/@client.GetId()">@client.GetName()</a><br>
  }
</ul>

<a href=/stylist/new>ADD A STYLIST</a>
<a href=/client/new>ADD A CLIENT</a>
